.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-root {
  position: relative;
}

.map {
  position: absolute;
  z-index: 1;
}

.panels {
  position: absolute;
  z-index: 2;
  width: 392px;
  margin: 15px;
}

.search {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0,0,0,.18);
}

.search > * {
  display: inline-block;
}

.search .icon-container {
  position: absolute;
  left: 0;
  top: 0;
  padding: 17px 15px 10px 15px;
}

.search input {
  font-size: 15px;
  border: none;
  width: 100%;
  padding: 0px;
  height: 24px;
}

.search input::placeholder {
  color: #B2B2B2;
}

.search textarea:focus, .search input:focus{
    outline: none;
}

.geosuggest {
  width: 100%;
}

.geosuggest__input-wrapper {
  border-bottom: #e6e6e6;
  border-bottom-width: 1px;
  border-style: none none solid none;
  padding: 12px 15px 11px 52px;
}

.geosuggest__suggests {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.geosuggest__item {
  cursor: default;
  min-height: 24px;
  padding: 12px 15px 6px 53px;
  border-bottom: 1px solid #e6e6e6;
}

.geosuggest__item:hover {
  background-color: #FAFAFA;
}

.geosuggest__suggests--hidden {
  display: none;
}

.geosuggest__item--active {

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
